.DS_Store
.idea/
BacteriaFile/__pycache__/
DynamicResult/
FilmFile/__pycache__/
Image/
ImageEnergy/
ImageDynamic/
Manager/__pycache__/
Result/
ResultEnergy/
ResultDynamic/
SimulatorFile/__pycache__/
SurfaceGenerator/__pycache__/
__pycache__/
Log/
LogEnergy/
LogDynamic/
.ExternalIO.py.swp
SaveSurface/

